.body {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 900px;
}

.presentation {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
}

.presentation_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.presentation_avatar {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 40%;
  max-width: 300px;
  height: 400px;
}

.h1 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: lighter;
}

.presentation_big {
  font-size: 48px;
  font-weight: bold;
}

.presentation_buttons {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.presentation_buttons_primary {
  padding-right: 20px;
  padding-bottom: 10px;
}

.work {
  margin-top: 100px;
}

.work h2 {
  text-align: center;
  padding-bottom: 50px;
}

.about {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  text-align: center;
  padding-bottom: 50px;
}

.about_content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.about_text {
  width: 60%;
  font-size: 16px;
  font-weight: lighter;
  text-align: justify;
  text-justify: inter-word;
  line-height: 25px;
}

.about_competency {
  display: flex;
  width: 35%;
  font-size: 16px;
  font-weight: lighter;
  flex-direction: column;
}

.span {
  font-weight: lighter;
  color: #48dbfb;
}

.work_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img_sitting {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.work_together {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: lighter;
}

.footer_img {
  margin-left: 10px;
  width: 18px;
  height: 18px;
}

.wave {
  font-size: 32px;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  .body {
    width: 80%;
  }

  .presentation {
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }

  .presentation_text {
    width: 100%;
  }

  .presentation_avatar {
    padding-top: 50px;
    width: 100%;
  }

  .presentation_big {
    font-size: 32px;
  }

  .about_content {
    display: flex;
    flex-direction: column;
  }

  .about_text {
    width: 100%;
  }

  .about_competency {
    align-self: center;
    padding-top: 50px;
    width: 100%;
  }

  .img_sitting {
    width: 100%;
  }
}
